/* src/CurvyLine.css */
@keyframes draw {
  0% {
    stroke-dasharray: 0, 1000; 
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 1000, 0; 
    stroke-dashoffset: 0;
  }
}

@keyframes erase {
  100% {
    stroke-dasharray: 1000, 0; 
    stroke-dashoffset: 0;
  }
  0% {
    stroke-dasharray: 0, 1000; 
    stroke-dashoffset: 1000; 
  }
}

.curvy-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); 
  width: 100%;
  height: 200px;
  z-index: -1;
  pointer-events: none;
}

.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: draw 5s forwards, erase 5s forwards;
  animation-delay: 0s, 5s;
}