/* Home container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
}

/* Home Section */
.home {
  text-align: center; 
  width: 1400px;  
  height: 650px; 
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, orange 0%, hotpink 100%); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-self: center;
  margin: 0 auto; 
  opacity: 0;
  transition: opacity 1s ease;
}

.home.visible {
  opacity: 1;
}

/* Header styling */
.home h2 {
  font-size: 10.5rem; 
  margin-top: 190px;
  margin-bottom: 1rem; 
  font-family: sans-serif;
}

/* Responsive design */
@media (max-width: 768px) {
  .home {
    width: 90%;  
    height: auto; 
    padding: 10px; 
  }

  .home h2 {
    font-size: 2rem; 
  }
}

.fade-in {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 4s forwards;
}
  
.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
  
.letter:nth-child(1) {
  animation-delay: 0s;
}
  
.letter:nth-child(2) {
  animation-delay: 0.5s;
}
  
.letter:nth-child(3) {
  animation-delay: 1s;
}
  
.letter:nth-child(4) {
  animation-delay: 1.5s;
}

.letter:nth-child(5) {
  animation-delay: 2s;
}

.letter:nth-child(6) {
  animation-delay: 2.5s;
}  

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
  opacity: 0;
  position: relative;
  animation: fadeIn 2s forwards, bounceIn 2s 3s forwards;
  animation-delay: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    left: -100px;
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    left: 0;
    transform: translateY(0);
  }
}