/* About container styling */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

/* About section styling */
.about {
  position: relative;
  text-align: center;
  width: 1400px; 
  height: 650px; 
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #FFFFCC 0%, #FFA500 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease;
}

/* Make the section visible when the .visible class is added */
.about.visible {
  opacity: 1;
}

/* About image styling */
.about-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  width: 400px;
  height: auto;
  border-radius: 50%;
}

/* About text styling */
.about-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100px + 400px + 100px);
  text-align: left;
}

/* About header styling */
.about-text h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* About paragraph styling */
.about-text p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.about-paragraph {
  padding-right: 100px;
}

/* Signature image styling */
.signature {
  position: absolute;
  bottom: 70px;
  right: 120px;
  width: 150px;
  height: auto;
}

/* Responsive design for tablets and larger mobile screens */
@media (max-width: 768px) {
  .about {
    width: 90vw; 
    height: auto; 
    padding: 10px; 
  }

  .about-image {
    width: 200px;
    left: 20px;
  }

  .about-text {
    left: calc(20px + 200px + 20px); 
    text-align: center; 
    top: 60%; 
    transform: translateY(-50%); 
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .signature {
    width: 100px;
    right: 10px;
  }
}

/* Responsive design for smaller mobile screens */
@media (max-width: 390px) {
  .about {
    width: 100%;
    padding: 5px;
  }

  .about-image {
    width: 100px;
  }

  .about-text {
    left: 10px;
    top: 70%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;
  }

  .about-text h2 {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 0.9rem;
  }

  .signature {
    width: 80px;
    right: 5px;
  }
}

/* Home container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

/* Home Section */
.home {
  position: relative;
  text-align: center;
  width: 1400px;
  height: 650px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, orange 0%, hotpink 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-self: center;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s ease;
}

.home.visible {
  opacity: 1;
}

/* Header styling */
.home h2 {
  font-size: 10.5rem;
  margin-top: 190px;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

/* Responsive design for mobile view */
@media (max-width: 768px) {
  .home-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home {
    width: 90vw; 
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
  }

  .home h2 {
    font-size: 4rem;
    margin-top: 40;
    margin-bottom: 40;
  }
}

/* Animation and styling for fade-in effect */
.fade-in {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 4s forwards;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.letter:nth-child(1) {
  animation-delay: 0s;
}

.letter:nth-child(2) {
  animation-delay: 0.5s;
}

.letter:nth-child(3) {
  animation-delay: 1s;
}

.letter:nth-child(4) {
  animation-delay: 1.5s;
}

.letter:nth-child(5) {
  animation-delay: 2s;
}

.letter:nth-child(6) {
  animation-delay: 2.5s;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
  opacity: 0;
  position: relative;
  animation: fadeIn 2s forwards, bounceIn 2s 3s forwards;
  animation-delay: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    left: -100px;
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    left: 0;
    transform: translateY(0);
  }
}