.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.intro-text {
  position: relative;
  text-align: center;
  margin-bottom: 5px !important;
  padding-top: 10px !important;
  color: #333;
  font-size: 2.5rem;
  z-index: 2;
}

.projects-intro {
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(to right, #F3F3F3, #F79256, #A6D9F7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  opacity: 0;
}

.animate-in {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.curvy-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  pointer-events: none;
}

.line {
  animation: draw 5s;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 1000;
  }
  100% {
    stroke-dasharray: 1000, 0;
  }
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px !important;
}

.project-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.project-box-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.project-description {
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 0px;
}

.butterfly-overlay {
  position: absolute;
  top: 23%;
  left: 68.5%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
  z-index: 0;
  opacity: 0;
  animation: fadeIn 10s forwards;
}