.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Space between projects */
}

.project {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.project:hover .image-container {
  transform: scale(1.011); /* Zoom effect applied only to image container */
}

.project:hover {
  transform: none; /* No zoom effect on the whole container */
}

.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}

.text-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 90px; /* Add padding to the text container */
  padding-right: 90px;
  text-align: center;
}

.project-title {
  margin: 0;
  font-size: 24px;
  color: black;
}

.project-description {
  margin: 10px 0 0; /* Add margin to separate description from title */
  font-size: 16px;
  color: black;
}
